<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("sample") %>
    <h1>Welcome to world of Template Enginer with EJS</h1>
    <h1>Welcome <%= fname %> <%= lname %> your id is <% id %></h1>
    <ul>
        <% languages.forEach((lang)=>{ %>
            <li><%= lang %></li>
        <% }) %>
        
    </ul>
</body>
</html>